{% extends 'accounts/main.html' %}
{% block title %}Customer{% endblock title %}
{% block body %} 
<div class="row my-3 ml-2 mx-1">
    <div class="col-md">

        <div class="card card-body">
            <h4>{{customer.name}}</h4>
            <hr>
            <a href="" class="btn btn-outline-info btn-sm btn-block">Update Customer</a>
            <a href="{% url 'create_order' customer.id %}" class="btn btn-outline-danger btn-sm btn-block">Place Order</a>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body" >
            <h5 >Contact Information</h5>
            <hr>
            <p>Email: <span> {{customer.email}}</span></p>
            <p>Phone: <span>{{customer.phone}}</span></p>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Total Orders</h5>
            <hr>
            <h1 style="text-align:center;padding:10px;">{{cus_order.count}}</h1>
        </div>
    </div>
</div>
<br>
<div class="row my-3 ml-2 mx-1">
    <div class="col">
        <div class="card card-body">
            <form action="" method="GET">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row my-3 ml-2 mx-1" >
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                {% for i in cus_order %}
                <tr class="my-2">
                    <th class="pt-2">{{i.product.name}}</th>
                    <th class="pt-2">{{i.product.category}}</th>
                    <th class="pt-2">{{i.date_created}}</th>
                    <th class="pt-2">{{i.status}}</th>
                    <th class="pt-2"><a class="btn btn-outline-success" href="{% url 'update_order' i.id %}">Update</a></th>
                    <th class="pt-2"><a class="btn btn-outline-danger" href="{% url 'delete_order' i.id %}">Remove</a></th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock body %}